<section id="header" class="head absolute top-0 bottom-0 left-0 right-0 bg-bg-m bg-cover bg-left-top ">
<div class="flex relative ms-auto me-auto flex-col items-center backdrop-filter h-full bg-white/30">
    <h1 class="text-5xl font-kufi mt-24 md:mt-8 text-turqu">مولد النبي المصطفى</h1>
    <h6 class="text-xl mt-4">Undangan Maulid Nabi</h6>
    <div class="logo mt-8 mb-8">
        <img class="md:w-80 w-40" src="/images/ukhuwwah.png" alt="Al-Ukhuwwah Daarul Musthofa">
    </div>
    <div class="kepada flex flex-col items-center">
        <h6 class="text-xl">Kepada :</h6>
        <h5 class="text-2xl"><% if (nama!="") { %>
         <%= nama %>
        <% } %></h5>
    </div>
</div>
</section>