@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "kufi";
    src: url("/fonts/ReemKufi-Bold.ttf");
  };

@font-face {
  font-family: "Zilla Slab";
  src: url("/fonts/ZillaSlab-Medium.ttf");
}
@font-face {
  font-family: "Amiri Quran", serif;
  srs : url("/fonts/AmiriQuran-Regular.ttf");
}
@keyframes typing {
  from { width: 0; }
  to { width: 90%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
@layer components{
  .typing {
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 2px solid; */
    animation: typing 3s linear;
}
}